@import url(https://fonts.googleapis.com/css?family=Ubuntu);
* {
	padding:0;
	margin:0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}


nav {
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	
}

div.top {
	width:100%;
	 background-color: #2E3138;
  box-shadow: 5px 5px 12px rgba(0,0,0,0.5); 
	z-index:1000;
}

.menu-bar {
	color:#FFF;
	font-size:30px;
	cursor:pointer;
	padding:13px 16px;
	margin-left:10px;
	margin-top:5px;
	margin-bottom:5px;
}

.menu-bar:hover {
	background-color: rgba(1, 61, 87, 1);
	border-radius:50px;
}

#tag-menu {

	display:none;
}

#tag-menu:checked ~ div.drawer {
 animation: slide-in 0.5s ease;
 animation-fill-mode: forwards;
}

.drawer {
	background: url('bg.png') ;
	position:fixed;
	left:-100px;
	background-color: rgba(1, 61, 87, 1);
	height:100%;
	z-index:100;
	width: 260px;
	animation: slide-out 0.5s ease;
	animation-fill-mode: forwards;
}

.drawer ul li {
	list-style:none;
}

.drawer ul li a {
	padding:10px 0px;
	text-decoration:none;
	display:block;
  position: relative;
  left: -20px;
	color:#FFF;
	border-top:1px solid #555555;
}

.drawer ul li a:hover{
	background-color:#555555;
}

.drawer ul li a i {
	width:50px;
	height:35px;
	text-align:center;
	padding-top:15px;
}

 
@keyframes slide-in {
 from {left: -280px;}
 to {left: 0;}
}

@keyframes slide-out {
 from {left: 0;}
 to {left: -280px;}
}


/* =============================== bouncein left =============================== */

 .animated {
            
            -webkit-animation-duration: 2s; 
            animation-duration: 2s; 
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both; 
         }
         
         @-webkit-keyframes bounceInLeft {
            0% {
               opacity: 0;
               -webkit-transform: translateX(-2000px);
            }
            60% {
               opacity: 1;
               -webkit-transform: translateX(30px);
            }
            80% {
               -webkit-transform: translateX(-10px);
            }
            100% {
               -webkit-transform: translateX(0);
            }
         }
         
         @keyframes bounceInLeft {
            0% {
               opacity: 0;
               transform: translateX(-2000px);
            }
            60% {
               opacity: 1;
               transform: translateX(30px);
            }
            80% {
               transform: translateX(-10px);
            }
            100% {
               transform: translateX(0);
            }
         }
         
         .bounceInLeft {
            -webkit-animation-name: bounceInLeft;
            animation-name: bounceInLeft;
         }

/* =============================================== footer ============================================= */


.footer {
  background-color: #2E3138;
  max-width: 100%;
  width: 100%;
  height: 55px;
  padding-top: 5px;
  padding-bottom: 0px;
}
.flow-foot {
  float: left;
  display: block;
  max-width: 100%;
  width: 33%;
}
#Footer__Informations {
  text-align: center;
  font-size: 20px;
  color: white;
}
#Footer__Informations a{
  font-size: 15px;
  color: #CCC;
  text-decoration: none;
}
#Footer__Informations a:hover {
  color: #01A3E8;
  text-decoration: none;
}
#Footer__Logo {
  
}

#Footer__Logo  img {
  width: 50px;
  height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
 #Footer__Socials
  {
  max-width: 100%;
  width: 20%;
  text-align: center;
 }
  #Footer__Socials a {
    float: left;
    font-size: 10px;
    text-align: center;
    margin-left: 15%;
    color: white;
  }
  .fa-facebook-square:hover , .fa-twitter-square:hover , .fa-linkedin-square:hover {
    color: #01A3E8;
  }
  #subscriber {
    text-align: center;
  }
  #subscriber .button {
    border: none;
    color: #555555;
    padding: 2% 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}
.subs-btn {
    background-color: white; 
    color: black; 
    border: 2px solid #555555;
}

.subs-btn:hover {
    background-color: #01A3E8;
    color: white;
}
.social-floating {
  display:inline-block;
  margin: 0% 2% 0 2%;
 
}
.social-floating .fa-facebook-square{
   font-size: 20px;
}
.social-floating .fa-twitter-square {
   font-size: 20px;
}
.social-floating .fa-linkedin-square {
    font-size: 20px;
}
/* =============================== foot last ======================== */
.foot-last {
  background-color: rgba(0,0,0,0.9);
  color: #fff;
  padding: 10px 20px;
  height: 20px;
  text-align: center;
}
.foot-last p {
  color: rgba(255,255,255,0.5);
}




/* ======================================== Whole Modal ======================== */

/*.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}*/

/* ======================================= Modal content =========================== */

/*.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
/*.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color:  #01A3E8;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 10px 16px;
    background-color: white;
    color: #01A3E8;
    text-align: center;
}

.modal-body {
  padding: 2px 60px;
  background-color:  #44A7BC;
}

.modal-body input[type=text], .modal-body input[type=email] {
  max-width: 100%;
  width: 35%;
  height: 25px;
  margin: 25px 5%;
  background-color: #FFF;
  padding: 1% 2%;
  color: #525252;
  font-size: 15px;
  border:1px solid #FFF;
  -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}
input[type=text]:focus,input[type=email]:focus {
  border: 1px solid #01A3E8;
  background-color: #FFF;
  font-size: 20px;
}
input[type=text]:visited,input[type=email]:visited {
   color: #01A3E8;
   font-size: 20px;
}

.modal-footer {
    padding: 10px 16px;
    background-color: white;
    color: white;
    height: 25px;
}
input[type=submit] {
  max-width: 100%;
  width: 20%;
  padding: 2% 0;
  margin: 0 40% 25px 40%;
  position: relative;
  background-color: #2E3138;
  border: 1px solid #2E3138;
  color: #FFF;
  -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}
input[type=submit]:hover {
  background-color: #01A3E8;

}*/

/* ==================== Media Query fo Modal ============================ */

@media only screen and (max-width: 882px) {
      .modal-body input[type=text], .modal-body input[type=email] {
         max-width: 100%;
         width: 80%;
       
  }   

      input[type=submit] {
       max-width: 100%;
       width: 30%;
       padding: 4% 0;
       margin: 0 40% 25px 40%;
     }
   
}

@media only screen and (max-width: 596px) {

     .modal-body {
        padding: 2px 20px;

     }

     .modal-body input[type=text], .modal-body input[type=email] {
         max-width: 100%;
         width: 95%;
        margin: 25px 1%;
  }   

      input[type=submit] {
       max-width: 100%;
       width: 60%;
       padding: 4% 0;
       margin: 0 20% 25px 20%;
     }
   
  
}

@media only screen and (max-width: 450px) {
   .modal-content {
       width: 95% ;
   }

}